/**
 * Styles for the add-observation.html page 
 */

 .asterisk, .required {
     color: red;
}

fieldset {
    border-width: 1.5px;
}

legend {
    height: 1em;
    font-size: 13px;
    font-weight: 500;

}

#observation-notes {
    width: 70%;
    max-width: 70%;

}

#species-desc {
    width: 68%;
    max-width: 68%;
}

.form-control {
    padding: 7px;
    font-size: 15px;
}

.title {
    font-size: 14px;
}
